.btn {
    font-size: 0.9rem;
    font-family: var(--fonte-primaria);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn {
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    margin-left: 10px;
}

.include-btn {
    background-color: var(--cor-incluir);
    color: var(--cor-branca);
}

.delete-btn {
    background-color: var(--cor-excluir);
    color: var(--cor-branca);
}

.btn.search-btn:hover {
    background-color: var(--botao-selecionado);
    transform: scale(1.05);
}

.btn.include-btn:hover {
    background-color: var(--cor-botao-selecionado-incluir);
    transform: scale(1.05);
}

.btn.delete-btn:hover {
    background-color: var(--cor-botao-selecionado-excluir);
    transform: scale(1.05);
}

.action-buttons {
    display: flex;
    gap: 10px;
    margin: 0;
    margin-left: auto;
}

.search-grid-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 80%;
    margin: auto;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--cor-branca);
    padding: 1.5rem 0 10px 0;
    box-sizing: border-box;
    width: 100%;
}

.search-input {
    font-family: var(--fonte-primaria);
    flex: 0 1 400px;
    width: 100%;
    min-width: 200px;
    max-width: 400px;
    padding: 10px;
    border: 2px solid var(--cor-borda-field);
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

.search-input:focus {
    border: 2px solid var(--cor-primaria);
}

.search-input::-webkit-input-placeholder {
    font-family: var(--fonte-primaria);
}

.search-input::-moz-placeholder {
    font-family: var(--fonte-primaria);
}

.search-input:-ms-input-placeholder {
    font-family: var(--fonte-primaria);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Define 5 colunas no grid */
    gap: 1rem;
    width: 100%; /* Garante que o grid ocupe toda a largura */
    padding: 1rem 0 2rem 0; /* Espaçamento interno no topo e na parte inferior */
}

.card {
    background-color: var(--cor-secundaria);
    border-radius: 6px;
    border-color: var(--cor-primaria);
    border: 1px solid var(--cor-primaria);
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 200px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card h2 {
    font-size: 1.1rem;
    margin: 0 0 0.5rem;
}

.card p {
    margin: 0.25rem 0;
    font-size: 0.9rem;
}

.card .highlight {
    font-weight: bold;
    color: var(--botao-selecionado);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}