@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --cor-primaria: #133E87;
    --cor-secundaria: #F3F3E0;
    --cor-terciaria: #608BC1;
    --cor-branca: #FFFFFF;
    --cor-borda-field: #808080;
    --cor-erro: #ff0000;
    --botao-selecionado: #041B42;
    --cor-desc-rodape: #808080;
    --cor-background-selection: rgb(99, 97, 97);
    --cor-font-selection: white;
    --fonte-primaria: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--cor-background-selection);
    color: var(--cor-font-selection);
}

body {
    font-family: var(--fonte-primaria);
    background-color: var(--cor-branca);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.login-page {
    width: 100%;
    padding: 1.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-conteudo {
    width: 300px;
    max-width: 90%;
    background-color: var(--cor-branca);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

#form-login {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-branca);
    padding: 5%;
}

#form-recover {
    display: none;
    flex-direction: column;
    background-color: var(--cor-branca);
    padding: 5%;
}

#form-register {
    display: none;
    flex-direction: column;
    background-color: var(--cor-branca);
    padding: 5%;
}

.wrapper-logotipo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.descricao {
    margin-bottom: 1.5rem;
    text-align: center;
}

input {
    padding: 15px;
    font-size: 0.95rem;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 10px;
    transition: all linear 160ms;
    outline: none;
}

.login-page__form-field {
    color: var(--cor-primaria);
    border: 2px solid var(--cor-borda-field);
}

.login-page__form-field:focus {
    border: 2px solid var(--cor-primaria);
}

i {
    color: #808080;
    cursor: pointer;
}

.erro-campo {
    border-color: var(--cor-erro);
}

.input-password-wrapper {
    position: relative;
    width: fit-content;
}
  
.input-password-wrapper input {
    padding-right: 35px;
    
}
  
.input-password-wrapper i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-100%);
    pointer-events: auto;
}

.mensagem-erro {
    display: none;
    color: var(--cor-erro);
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.form-login__link, .form-login__link:visited {
    margin-bottom: 20px;
    font-size: 0.95rem;
    transition: all linear 160ms;
    color: var(--cor-primaria);
    font-weight: 700;
}

a {
    cursor: pointer;
    text-decoration: underline;
}

a:hover {
    color: var(--botao-selecionado);
}

.botao {
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    font-size: 0.95rem;
    border: none;
    cursor: pointer;
    font-weight: 550;
}

.botao:hover,
.botao:focus {
    transform: scale(1.05);
    background-color: var(--botao-selecionado);
}

.rodape a {
    color: var(--cor-desc-rodape);
}

.rodape a:hover {
    color: var(--botao-selecionado);
}

.rodape {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 0.6875rem;
    padding: 10px;
    color: var(--cor-desc-rodape);
}