@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* --cor-secundaria: #F5F5DC; */
    /* --cor-terciaria: #0adf63; */
    /*versao green*/
    /* --cor-primaria: #1E8449;
    --botao-selecionado:#0A5C2D; */

    /*versao blue*/
    --cor-primaria: #133E87;
    --cor-secundaria: #F3F3E0;
    --cor-terciaria: #608BC1;
    --botao-selecionado: #041B42;

    --cor-branca: #FFFFFF;

    --cor-background-selection: rgb(99, 97, 97);
    --cor-font-selection: white;

    --cor-teste: #e70f9f;
    /* rosa teste: #e70f9f*/
    /* --cor-hover-selection: #413D65; */

    --fonte-primaria: "Inter", sans-serif;
    /* --fonte-secundaria: "Montserrat", serif; */
}

* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--cor-background-selection);
    color: var(--cor-font-selection);
}

body {
    font-family: var(--fonte-primaria);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*importante para o body estar presente em toda a tela*/
    width: 100%;
}

.login-page {
    width: 100%;
    padding: 1.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-conteudo {
    width: 300px;
    max-width: 90%;
    background-color: var(--cor-branca);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

#form-login {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-branca);
    padding: 5%;
}

#logotipo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input {
    padding: 15px;
    font-size: 0.95rem;
    /*15px em 'rem'*/
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 10px;
    transition: all linear 160ms;
    /*transição ao surgir o input*/
    outline: none;
    /*ao input ser selecionado, este não apresenta uma linha ao redor*/
}

#email,
#senha {
    color: var(--cor-primaria);
    border: 2px solid gray;
}

a {
    margin-bottom: 20px;
    font-size: 0.95rem;
    transition: all linear 160ms;
    color: var(--cor-primaria);
    font-weight: 700;
}

a:hover {
    color: var(--botao-selecionado);
}

.botao {
    background-color: var(--cor-primaria);
    color: var(--cor-branca);
    font-size: 0.95rem;
    border: none;
    cursor: pointer;
    font-weight: 550;
}

.botao:hover {
    transform: scale(1.05);
    background-color: var(--botao-selecionado);
}

#rodape {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 0.6875rem;
    padding: 10px;
    color: gray;
}