@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&family=Lexend:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--cor-background-selection);
    color: var(--cor-font-selection);
}

body {
    background-color: var(--cor-branca);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-primaria);
}

.cabecalho {
    background: var(--degrade-header);
    color: var(--cor-branca);
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-tela {
    position: absolute;
    left: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    transform: translateX(0);
    transition: all 0.3s ease;
    opacity: 1;
}

.menu-tela--fixed {
    /* position: fixed; */
    z-index: 4;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.3s ease;
}

.side-menu .menu-tela {
    position: relative;
    left: 0;
    margin: 20px 0;
    opacity: 0;
    transform: translateX(-100%);
}

.side-menu.open .menu-tela {
    opacity: 1;
    transform: translateX(0);
}

.menu-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: var(--cor-branca);
}

.descricao-tela {
    font-family: var(--fonte-logo);
    font-size: 24px;
    letter-spacing: 5px;
}

.bg-icon {
    background-color: transparent;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
}

.bg-icon:hover {
    background-color: var(--botao-selecionado);
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    height: 40px;
    object-fit: contain;
    margin: 0;
}

.descricao-logo {
    font-family: var(--fonte-logo);
    letter-spacing: 7.2px;
    font-size: 24px;
}

.user-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    right: 30px;
    background-color: var(--botao-selecionado);
    padding: 0 6px 0 15px;
    border-radius: 20px;
}

.descricao-user {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-family: var(--fonte-primaria);
}

.bg-icon-user {
    background-color: var(--botao-selecionado);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.user-icon {
    position: relative;
    font-size: 1.5rem;
    color: var(--cor-branca);
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha-header{
    height: 4px;
    background-color: var(--botao-selecionado);
    width: 100%;
}

.options-container {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    justify-content: center;
}

.option-box {
    background: var(--degrade-header);
    background-color: var(--cor-primaria);
    border: 2px solid var(--cor-primaria);
    border-radius: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--cor-branca);
    transition: background 0.3s, color 0.3s;
    cursor: pointer;
}

.descricao-box {
    font-family: var(--fonte-primaria);
    font-size: 1.2rem;
}

.option-box .material-symbols-outlined{
    font-size: 60px;
}

.option-box:hover {
    background: var(--botao-selecionado);
    color: var(--cor-branca);
}

.side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100%;
    background-color: var(--botao-selecionado);
    color: var(--cor-branca);
    padding: 20px;
    transition: left 0.3s ease;
    z-index: 1;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.side-menu.open {
    left: 0;
}

.side-menu__logo {
    display: flex;
    margin: 1rem 0 0 1rem;
    align-items: center;
    gap: 20px;
}

.logo-menu {
    height: 40px;
    object-fit: contain;
    margin: 0;
}

.side-menu__texto {
    font-family: var(--fonte-logo);
    font-size: 24px;
    letter-spacing: 5px;
}

.side-menu__list {
    margin: 2rem 1rem 1rem 1rem;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.side-menu__item {
    margin: 0.5rem 0 0.5rem 0;
    font-family: var(--fonte-logo);
    font-size: 24px;
}

.item__link {
    color: var(--cor-branca);
    text-decoration: none;
}

.item__link:hover {
    color: var(--cor-terciaria);
}

.logout:hover {
    color: var(--cor-sair);
}